
 <main id="main" class="main">
    <div class="pagetitle">
        <h1>Category Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Categories</li>
                <li class="breadcrumb-item active">All Categories</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Categories</h5>
                        <table class="table table-hover" id="myTable">
                            <thead>
                                <tr>
                                    <th scope="col">Category </th>
                                    <th scope="col">Edit </th>
                                    <th scope="col">Delete </th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each categorys}}
                                <tr>
                                    <td>{{this.categoryName}}</td>
                                    <td>
                                        <a href="/admin/edit-category/{{this._id}}">
                                            <span class="badge bg-info text-dark">
                                                <i class="bi bi-pencil"></i> Edit
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/admin/delete-category/{{this._id}}"
                                            onclick="return confirm('Are you sure you want to delete category {{this.categoryName}} ?')"
                                        >
                                            <span class="badge bg-info text-dark">
                                                <i class="bi bi-pencil"></i> Delete
                                            </span>
                                        </a>
                                    </td>
                                    <td>
                                      <button
                                       type="button" class="btn btn-warning" onclick="isIdPass('{{this.categoryName}}')"
 data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
                                       >
                                       create offer
                                       </button>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <a href="/admin/addcategory">
                            <button type="button" class="btn btn-secondary">Add Category</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


  
<!-- Button to trigger the modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <form action="/admin/add-category-offer" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create category offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Offer percentage:</label>
            <input type="text" class="form-control" id="recipient-name" name="discount" required>
            <input type="text" class="form-control" id="catName" name="catName" value="" hidden>
            
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Add response</button>
      </div>
    </div>
        </form>
  </div>
</div>

</main>



{{!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script> --}}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>





{{!-- <script>
    $(document).ready(function() {
  $('#myTable').DataTable();

});

</script> --}}


<script>
  function isIdPass(catName) {

    document.getElementById('catName').value = catName

  }
</script>