<body>


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Category  Tables</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Categories</li>
                    <li class="breadcrumb-item active">All Categories</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Categoreis</h5>

                            <!-- Default Table -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category </th>
                                        <th scope="col">Category Description</th>
                                        <th scope="col">Edit </th>
                                        <th scope="col">Status </th>
                                        <th scope="col">Action </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each category}}
                                    <tr>
                                        <th scope="row"></th>
                                        <td>{{this.categoryName}}</td>
                                        <td>{{this.categoryDescription}}</td>
                                        <td><a href="/admin/edit-category/{{this._id}}" >
                                            <span class="badge bg-info text-dark"><i class="bi bi-pencil"></i>
                                                Edit</span></a>

                                        </td>
                                        <td>{{#if categoryBlocked}}
                                            <span class="badge bg-danger"><i class="bi bi-exclamation-octagon me-1"></i>
                                                Blocked</span>
                                            {{else}}
                                            <span class="badge bg-success"><i class="bi bi-check-circle me-1"></i>
                                                Active</span>
                                            {{/if}}
                                        </td>
                                        <td>{{#if categoryBlocked}}
                                            <a href="/admin/unBlockCategory?id={{this._id}}" class="badge bg-success"><i
                                                    class="bi bi-check-circle me-1"
                                                    onclick="return confirm('are you sure that you want to block {{this.categoryName}}')"></i>
                                                Unblock</a>
                                            {{else}}
                                            <a href="/admin/blockCategory?id={{this._id}}" class="badge bg-danger"><i
                                                    class="bi bi-exclamation-octagon me-1"
                                                    onclick="return confirm('are you sure that you want to block {{this.categoryName}}')"></i>
                                                Block</a>
                                            {{/if}}
                                        </td>

                                    </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                            <!-- End Default Table Example -->
                        </div>
                    </div>


                </div>
            </div>
        </section>

    </main><!-- End #main -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>