<body>



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Category</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Primary image</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Remove</th>


                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{this.brand}}</td>
                    <td>{{this.model}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width: 60px; height:auto" src="/product-images/{{this._id}}.jpg" alt="img loading"></td>
                    <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">📝</a></td>
                    <td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete {{this.brand}} {{this.model}} ?')">🗑️</a></td>

                  </tr>
                  {{/each}}

                </tbody>
              </table>
              
              <!-- End Default Table Example -->
            </div>
          </div>


        </div>
      </div>
    </section>

  </main><!-- End #main -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function() {
  $('#myTable').DataTable();
});

</script>