<body>



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Category</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Primary image</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Remove</th>

                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{this.brand}}</td>
                    <td>{{this.model}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width: 60px; height:auto" src="/product-images/{{this.productImage.[0]}}" alt="img loading"></td>
                    <td>{{this.stocknumber}}</td>
                    <td><a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">📝</a>
                    <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete {{this.brand}} {{this.model}} ?')">🗑️</a>
                    </td>
                    <td>
                                      <button
                                       type="button" class="btn btn-warning" 
 data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
 onclick="isIdPass('{{this._id}}', '{{this.price}}', '{{this.model}}')"
                                       >
                                       create offer
                                       </button>
                    </td>
                  </tr>
                  {{/each}}

                </tbody>
              </table>
                   <a href="/admin/addproducts"><button type="button" class="btn btn-secondary">Add Products</button></a>
                    <button onclick="goBack()"  class="btn btn-secondary">Go Back</button>
              
              <!-- End Default Table Example -->
            </div>
          </div>


        </div>
      </div>
    </section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <form action="/admin/add-product-offer" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create category offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Offer percentage:</label>
            <input type="text" class="form-control" id="recipient-name" name="discount" required>
            <input type="text" class="form-control" id="proId" name="proId" value="" hidden>
            <input type="text" class="form-control" id="proPrice" name="proPrice" value="" hidden>
            <input type="text" class="form-control" id="proModel" name="proModel" value="" hidden>
            
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Add response</button>
      </div>
    </div>
        </form>
  </div>
</div>

  </main><!-- End #main -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<script>
  $(document).ready(function() {
  $('#myTable').DataTable();
});

</script>

<script>
  function isIdPass(proId, proPrice, proModel) {
    console.log(proId, proPrice, proModel, "eeeeeeeeeeeeeeeeeeeeeeeeeeeee")
    document.getElementById('proId').value = proId
    document.getElementById('proPrice').value = proPrice
    document.getElementById('proModel').value = proModel
  }
</script>

<script>
function goBack() {
    history.back();
}
</script>
