<body>


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Sales Report</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">All Users</li>
                    <li class="breadcrumb-item active">Sales Report</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                  

           
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" >Users</h5>
                                    <!-- Table with hoverable rows -->
                                    <table class="table table-hover" id="myTable">
                                        <thead>
                                            <tr>
                                                {{!-- <th scope="col">#</th> --}}
                                                <th scope="col">Date</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Order Id</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Payment</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each orders}}
                                            <tr>
                                                {{!-- <th scope="row"></th> --}}
                                                <td>{{this.date}}</td>
                                                <td>{{this.deliveryDetails.name}}</td>
                                                <td>{{this._id}}</td>
                                                <td>{{this.totalPrice}}</td>
                                                <td>{{this.paymentmethod}}</td>
                                                <td><button class="badge badge-warning" style="color: black; background-color: rgb(225, 255, 0);">{{this.status}}</button></td>

                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                    <!-- End Table with hoverable rows -->
                                           <button type="button" class="btn btn-warning" onclick=""
                                        data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" >
                                       Filter by date
                                      </button>    

                                </div>

                                                       
                                       
                              </div>
                            <!-- End Default Table Example -->
                     </div>
                    </div>


                </div>
            </div> 
        </section>
        

    </main>
    <!-- End #main -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <form action="/admin/sales-date-filter" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create category offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Offer percentage:</label>
            <input type="date" class="form-control" name="startDate" required>
            <input type="date" class="form-control" name="endDate" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Add response</button>
      </div>
    </div>
        </form>
  </div>
</div>
    



 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


    <script>
        $(document).ready(function() {
            $('#myTable').DataTable()
        });
    </script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>