
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 <div>
    <img src="stylesheets/img/slider/shop.jpg" alt="">
</div>

 <div class="checkout_area pt-80">
        <div class="container">
            <div class="notification__message">
                {{!-- <p><i class="fal fa-window-maximize"></i>Returning customer? Click here to <a href="login.html">login</a></p> --}}
                <p><i class="fal fa-window-maximize"></i>Enter your shipping details below</p>
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="checkout_form mb-100">
                        <form action="#" id="checkout-form">
                            <div class="row mb-30">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    
                                    {{!-- <div class="billing-select mb-20">
            {{!-- <label > <abbr class="required" title="required"></abbr>
            </label> --}}
            <select onchange="getAddress()" class="btn btn-secondary" placeholder="Please" id="address">
                <option>Select Your Address</option>

                {{#each address}}

                <option value={{this.userAddressId}}>{{this.userAddressId}} {{this.name}} , {{this.address}} , {{this.mobile}} , </option>

                {{/each}}

            </select>

        </div> --}}

         </div>
                                
                            </div>
        
                                    <div class="checkout__wrap">
                                        <label>Full name <span>*</span></label>
                                        <input type="text" name="name" id="name" required>
                                    </div>
                               
                            
                            <div class="checkout__wrap">
                                <label>Street address <span>*</span></label>
                                <input class="mb-20" type="text" name="address" id="saddress" placeholder="house number and street number" required>
                                {{!-- <input type="text" name="add2" placeholder="apartment,suite,unit,etc.(optional)"> --}}
                            </div>
                            <div class="checkout__wrap">
                                <label>Town / City *<span></span></label>
                                <input type="text" id="town" name="town" required>
                            </div>
                            <div class="checkout__wrap">
                                <label>Pincode<span>*</span></label>
                                <input type="text" id="pincode" name="pincode" required>
                            </div>
                            <div class="checkout__wrap">
                                <label>Mobile <span>*</span></label>
                                <input type="text" name="mobile" id="mobile" required>
                                <input type="text" name="userId" value="{{users._id}}" hidden>
                            </div>
                           <div class="checkout__wrap">
                                <label>Email address <span>*</span></label>
                                <input type="email" name="email" id="email" required>
                                <input type="text" name="offerdata" id="offeramount" value="" hidden>
                            </div>
                            {{!--    <div class="checkout__wrap-2 pt-20">
                                <input type="checkbox" name="check1">
                                <span>Create an account?</span>
                            </div>
                            <div class="checkout__wrap-2 pt-20">
                                <input type="checkbox" name="check2">
                                <span>Ship to a different address?</span>
                            </div>
                            <div class="checkout__wrap">
                                <label>Order notes (optional) <span></span></label>
                                <textarea  name="ordernote" placeholder="Note about your order, e.g special note for delivery"></textarea>
                            </div> --}}
                            <div class="checkout__accordion mt-30">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              {{!-- <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                   
                                    RazorPay 
                                </button>
                              </h2> --}}
                              <div >
                                <div class="accordion-body">
                                     <input type="radio" name="paymentmethod" value="razorpay" style="color: aqua;"> Proceed with RazorPay 
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              
                              <div >
                                <div class="accordion-body">
                                    <input type="radio" name="paymentmethod" value="COD"> Proceed with COD
                                </div>
                              </div>
                            </div>

                            <div class="accordion-item">
                              <div >
                                {{#if wallet.exist}}
                                <div class="accordion-body">
                                    <input type="radio" name="paymentmethod" value="wallet"> Proceed with Wallet
                                </div>
                                
                                {{else}}
                                <div class="accordion-body">
                                    <span type="button" name="paymentmethod" value="wallet" style="color: red;"> Wallet is not currently available for the order</span>
                                </div>
                                {{/if}}
                              </div>
                            </div>

                            {{!-- <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    PayPal
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <input type="radio" name="paymentmethod" value="paypal"> Proceed with Paypal
                                </div>
                              </div>
                            </div> --}}
                          </div>
                      </div>
                            <div class="terms pt-50 pb-20">
                        <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy</p>
                        <div class="check_term">
                            <input type="checkbox">
                            <p>I have read and agree to the website terms and conditions <span>*</span></p>
                        </div>
                        <div class="order-button">
                            <button type="submit" id="my-button">place order</button>
                        </div>
                    </div>
                        </form>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-12">
                    <div class="cart__acount ml-50">
                        <h5>Your order</h5>
                      <table>
                          {{!-- <tr class="first-child-2">
                              <td>product</td>
                              <td>NikeCourts Air Zoom  <span>× 1</span></td>
                          </tr> --}}
                          <tr class="first-child-2">
                              <td>Subtotal</td>
                              <td class="lightbluee">₹ {{total}}</td>
                          </tr>
                          <tr class="first-child lastchild">
                              <td><span>Enter Coupon Code</span>
                              
                              <form>
                              <input type="text" class="form-control coupon" name="code" placeholder="Coupon code" id="code">
                              <span style="color: red;" id="err">{{error}}</span>
                              <input type="text"  name="totalprice" id="price" value="{{total}}" hidden>
                              </td>
                              <td><a href="" class="btn btn-secondary" type="button" onclick="checkCoupon()">Apply coupon</a></td>
                              </form>
                          </tr>
                          <tr class="first-child-2">
                              <td>Total</td>
                              <td class="lightbluee" id="offer">₹ {{total}}</td>
                          </tr>
                      </table>
                      
                    
                    </div>    
                </div>
                </div>
                
            </div>
        </div>
    </div>

     <!-- popup area start -->
    <div class="overlay"></div>
    <div class="product-popup">
        <div class="view-background">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="quickview">
                        <div class="quickview__thumb">
                            <img src="stylesheets/img/quick_view/25.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>Brown Leather Bags</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i
                                    class="fal fa-times-circle"></i></a>
                        </div>
                        <div class="viewcontent__rating">
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__stock">
                            <h4>Available :<span> In stock</span></h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                                risus lacinia vel. Fusce eget turpis orci.</p>
                        </div>
                        <div class="viewcontent__action">
                            <span>Qty</span>
                            <span><input type="number" placeholder="1"></span>
                            <span><a href="#">add to cart</a></span>
                            <span><i class="fal fa-heart"></i></span>
                            <span><i class="fal fa-info-circle"></i></span>
                        </div>
                        <div class="viewcontent__footer">
                            <ul>
                                <li>Category:</li>
                                <li>SKU:</li>
                                <li>Brand:</li>
                            </ul>
                            <ul>
                                <li>Watches</li>
                                <li>2584-MK63</li>
                                <li>Brenda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup area end -->

    
    <script>


            $("#checkout-form").submit((e)=>{
                e.preventDefault()
                $.ajax({
                    url:'/place-order',
                    method:'post',
                    data:$('#checkout-form').serialize(),
                    success:(response)=>{
                        if(response.codSuccess){
                            location.href='/order-successful'
                            alert("Order placed successfully")
                        }else if(response.wallet){
                            location.href='/order-successful'
                            alert("Order placed successfully")
                        } else {
                            alert("Proceed to payment gateway")
                            razorpayPayment(response)
                        }
                    }
                })
                
            })

    function razorpayPayment(order){
        var options = {
    "key": "rzp_test_2OQT5vz8WgTGvO", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Hewlett Packard", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response, order)
    },
    "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);

rzp1.open();

}

    function verifyPayment(payment, order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success : (response)=>{
                if(response.status){
                    location.href = '/order-successful'
                }else{
                    alert("Payment failed")
                }
            }
        })
    }

    function checkCoupon() {
        event.preventDefault();
    // Get the coupon code entered by the user
    const codes = document.getElementById("code").value;
    const total = document.getElementById("price").value;

    // Query the database to find the coupon with the entered code
    $.ajax({
        url: '/checkcoupon',
        data: {
            data : codes, total
        },
        method:'post',
        success: (response)=>{
            if(response) {
                document.getElementById('offer').innerHTML = "₹ "+response
                document.getElementById("offeramount").value=response
    swal({
    title: 'Congrats!',
    text: 'You have successfully applied the coupon!',
    icon: 'success',
    timer: 2000
  });
            }else{

            }
        },
            error: function (xhr, status, error) {
                    if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Enter a valid coupon") {
                        document.getElementById('err').innerHTML = xhr.responseJSON.error
                        
                        setTimeout(function () {
                            document.getElementById('err').innerHTML = "";
                        }, 5000);
                    } else {
                        $('#error').text(error);
                    }
                }  
    })

}

 
const myButton = document.getElementById('my-button');

{{!-- myButton.addEventListener('click', () => {
  swal({
    title: 'Success!',
    text: 'Your order is confirmed!',
    icon: 'success',
    timer: 3000
  });
}); --}}


function getAddress() {
    let address = document.getElementById('address');
    let addressId = address.options[address.selectedIndex].value;
    

    $.ajax({
      url : "/fillAddress",
      data : {
        addressId : addressId
      },
      method : 'post',
      success : (response) => {
        if(response.status) {
          document.getElementById('name').value = response.name;
          document.getElementById('saddress').value = response.address;
          document.getElementById('town').value = response.town;
          document.getElementById('pincode').value = response.pincode;
          document.getElementById('mobile').value = response.mobile;
          document.getElementById('email').value = response.email;
        }
        else{
          document.getElementById('name').value = "jhkgj";
          document.getElementById('saddress').value = "";
          document.getElementById('town').value = "";
          document.getElementById('pincode').value = "";
          document.getElementById('mobile').value = "";
          document.getElementById('email').value = "";
        }
      }
    });
  }



    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
