<body>



  <main id="main" class="main container">

    <div class="pagetitle">
      <h1>Order Tables</h1>
      <nav>
        
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Your orders</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    {{!-- <th scope="col">Date</th> --}}
                    <th scope="col">Products</th>
                    <th scope="col">Address</th>
                    <th scope="col">Order status</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Purchase mode</th>
                    <th scope="col">Cancel order</th>
                    <th scope="col">View products</th>


                  </tr>
                </thead>
                <tbody>
                  {{#each orders}}
                  <tr>
                    <td><img src="/product-images/{{this.prodImage}}" style="width: 3rem; height: auto;" alt=""></td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.totalPrice}}</td>
                    <td>{{this.paymentmethod}}</td>
                    

                   <td><a href="/view-order-products/{{this._id}}"><span class="badge bg-info text-dark"><i class="bi bi-pencil"></i>
                                                View invoice</span></a></td>

                                                <td>
                                                  {{!-- <a href="/cancel-user-order/{{this._id}}"><span class="badge bg-info text-dark"><i class="bi bi-pencil"></i>
                                                Cancel order</span></a> --}}
                        {{#ifCheck this.status 'placed'}}
                                                <form action="/cancel-reason" method="post">
                      <input type="text" name="orderId" value="{{this._id}}" hidden>
                      <input type="text" name="orderStatus" value="{{this.status}}" hidden>
                      <button type="submit" class="badge bg-info text-dark">Cancel order</button>                     
                      </form>
                        {{/ifCheck}}

                        {{#ifCheck this.status 'shipped'}}
                                                 <form action="/cancel-reason" method="post">
                      <input type="text" name="orderId" value="{{this._id}}" hidden>
                      <input type="text" name="orderStatus" value="{{this.status}}" hidden>
                      <button type="submit" class="badge bg-info text-dark">Cancel order</button>                     
                      </form>
                        {{/ifCheck}}

                        {{#ifCheck this.status 'delivered'}}
                        {{#if this.canReturn}}
                                                <form action="/return-reason" method="post">
                      <input type="text" name="orderId" value="{{this._id}}" hidden>
                      <input type="text" name="orderStatus" value="{{this.status}}" hidden>
                      <button type="submit" class="badge bg-info text-dark">Return order</button>                     
                      </form>
                      {{else}}
                      <p class="badge " style="color: red;">Return expired</p>
                      {{/if}}
                        {{/ifCheck}}

                        {{#ifCheck this.status 'cancelled'}}
                        <button class="badge bg-link text-danger">  Cancelled </button>
                        {{/ifCheck}}

                        {{#ifCheck this.status 'returned'}}
                        <button class="badge bg-link text-danger">  Returned </button>
                        {{/ifCheck}}
                                                </td>


                  </tr>
                  {{/each}}
                </tbody>
              </table>
              <button onclick="goBack()"  class="btn btn-secondary">Go Back</button> 

              <!-- End Default Table Example -->
            </div>
          </div>


        </div>
      </div>
    </section>

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

      <script>
function goBack() {
    history.back();
}
</script>